<div class="article-bottom-info d-flex justify-content-between align-items-center post-presentation">
    {{#has author="count:>1"}}
        <div class="multiple-authors no-name">
            {{#foreach authors}}
            <a href="{{url}}" class="vertical-align author-info no-name d-none d-sm-inline-flex">
                <div class="author-image background lazy {{^if profile_image}}author-image-fill{{/if}}" {{#if profile_image}}data-src="{{profile_image}}"{{/if}}></div>
            </a>
            {{/foreach}}
        </div>
    {{else}}
        {{#foreach authors}}
            <a href="{{url}}" class="vertical-align author-info d-none d-sm-inline-flex">
                <div class="author-image background lazy {{^if profile_image}}author-image-fill{{/if}}" {{#if profile_image}}data-src="{{profile_image}}"{{/if}}></div>{{name}}
            </a>
        {{/foreach}}
    {{/has}}
    <p class="d-block d-sm-none"><i class="fa fa-clock-o"></i> {{t "Published"}} {{date published_at timeago="true"}}</p>
    <div class="share-icons icons-visible">
        <div class="icon-container">
            <div class="icons">
                <span>{{t "Share this post on:"}}</span>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580, height=300');return false;"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" onclick="window.open(this.href, 'twitter-share', 'width=580, height=300');return false;"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
    </div>
</div>
