<section class="vc_row pt-65 pb-115">

    <div class="container">
        <div class="row">

            <div class="lqd-column col-md-12">

                <div class="carousel-container carousel-nav-left carousel-nav-md carousel-dots-style1">

                    <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"left","prevNextButtons":false,"buttonsAppendTo":"self","pageDots":false,"groupCells":false,"wrapAround":true,"autoPlay":3000,"pauseAutoPlayOnHover":false}'>

                        <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{@site.url}}/assets/img/clientllogos/valpaklogo.png" class="mt-10 w-60" alt="Client">
                            </figure>
                        </div><!-- /.carousel-item -->

                      <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{asset "img/clientlogos/hunterlab.png"}}" class="mt-10 w-60" alt="Client">
                            </figure>
                        </div>

                        <!-- /.carousel-item -->
                        <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{asset "img/clientlogos/metabolon.jpg"}}" class="w-60" alt="Client">
                            </figure>
                        </div>
                        <!-- /.carousel-item -->
                        <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{asset "img/clientlogos/5e39a8f067e69mailershq platformimage.webp"}}" class="w-60" alt="Client">
                            </figure>
                        </div>
                        <!-- /.carousel-item -->
                        <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{asset "img/clientlogos/seniorhelpers.jpeg"}}" class="mt-10 w-60" alt="Client">
                            </figure>
                        </div>
                        <!-- /.carousel-item -->
                        <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{@site.url}}/assets/img/clientllogos/5e7b8b4a9b27eCuemby Logo.webp" class="mt-10 w-60" alt="Client">
                            </figure>
                        </div><!-- /.carousel-item -->
                        <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{@site.url}}/assets/img/clientllogos/5e7b8b4a9b27eCuemby Logo.webp" class="mt-10 w-60" alt="Client">
                            </figure>
                        </div><!-- /.carousel-item -->
                        <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{@site.url}}/assets/img/clientllogos/5e7b8b4a9b27eCuemby Logo.webp" class="w-60" alt="Client">
                            </figure>
                        </div><!-- /.carousel-item -->
                        <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{@site.url}}/assets/img/clientllogos/5e39a8f067e69mailershq platform image.webp" class="w-60" alt="Client">
                            </figure>
                        </div><!-- /.carousel-item -->
                        <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{@site.url}}/assets/img/clientllogos/robo-negotiator.png" class="mt-10 w-60" alt="Client">
                            </figure>
                        </div><!-- /.carousel-item -->
                        <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{@site.url}}/assets/img/clientllogos/secondnaturelogo.jpg" class="w-60" alt="Client">
                            </figure>
                        </div><!-- /.carousel-item -->
                        <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{@site.url}}/assets/img/clientllogos/VaughtInc.svg" class="w-60" alt="Client">
                            </figure>
                        </div><!-- /.carousel-item -->
                        <div class="lqd-column carousel-item col-md-2 col-sm-3 col-xs-4">
                            <figure class="text-center opacity-02 reset-opacity-onhover">
                                <img src="{{@site.url}}/assets/img/clientllogos/epic-business-essentials-logo-300x66.png" class="mt-10 w-60" alt="Client">
                            </figure>
                        </div><!-- /.carousel-item -->

                    </div><!-- /.carousel-items row -->

                </div><!-- /.carousel-container -->

            </div><!-- /.col-md-12 -->

        </div><!-- /.row -->
    </div><!-- /.container -->

</section>