<!DOCTYPE html>
<html lang="{{@site.lang}}">

    <head>

        {{! DNS, Meta }}
        {{> vendor/universal-meta-and-dns}}
        {{! SITES DESCRIPTION }}
        <title>{{meta_title}} {{^is "home, paged"}}| {{@site.title}}{{/is}}</title>
        {{!CSS ASSETS / FONTS / SCRIPTS }}
        {{> layout/global-styles}}
         {{> layout/global-head-scripts}}
	    <!-- Non-global styles Libs -->
        {{#is "about"}}<link rel="stylesheet" href="{{asset "css/themes/freelancer.css"}}"/>{{/is}}
<link rel="stylesheet" href="{{asset "ave/styles/themes/original.css"}}" />
        {{{block "post-styles"}}}
        {{{block "page-styles"}}}
        {{{> vendor/vendors}}}
        {{ghost_head}}
    </head>
    <body class="{{body_class}}">
        {{! Navbar - Go to partials/navbar.hbs to view this partial. }}
        {{> navbar2 switcher=""}}

        {{{body}}}

        {{! Search - Go to partials/search.hbs to view this partial. }}
        {{> "search"}}

        {{! Footer - Go to partials/footer.hbs to view this partial. }}
        {{> "footer"}}

        {{! JS ASSETS }}
        {{> layout/global-footer-scripts}}
 
<script src="{{asset "built/js/main.js"}}"></script>
<script src="{{asset "built/js/extra.js"}}"></script>
<script src="{{asset "built/js/popper.min.js"}}"></script>
<script src="{{asset "built/js/bootstrap.min.js"}}"></script>
<script src="{{asset "built/js/anime.min.js"}}">
</script>
<script src="{{asset "built/js/scrollreveal.min.js"}}"></script>
<script src="{{asset "built/js/main.js"}}"></script>
<script src="{{@site.url}}/assets/js/theme-vendors.js"></script>
<script src="{{asset "vendors/pagePiling/dist/jquery.pagepiling.min.js"}}"></script>

<script src="{{asset "js/theme.min.js"}}"></script>

                {{{block "post-scripts"}}}

<!--Local Footer Scripts-->
<script>
            var ghosthunter_key = "";
            var maxPages = parseInt('{{pagination.pages}}');
            var endMessage = '{{t "No more posts"}}';
            var Message = '{{t "More posts"}}';
        </script>  

        {{ghost_foot}}

    </body>

</html>
