{{!< default}}
{{#contentFor "page-styles"}}
       <link href="{{asset "built/css/extra.css"}}" rel="stylesheet" type="text/css">
        <link href="{{asset "built/css/style.css"}}" rel="stylesheet" type="text/css">

{{/contentFor}}
{{#contentFor "page-scripts"}}
<script src="{{asset "js/theme-vendors.js"}}"></script>
   <script src="{{asset "js/theme.min.js"}}"></script>
{{/contentFor}}

{{#contentFor "post-scripts"}}

   

     <script>
            var ghosthunter_key = "";
            var maxPages = parseInt('{{pagination.pages}}');
            var endMessage = '{{t "No more posts"}}';
            var Message = '{{t "More posts"}}';
        </script>

      



{{/contentFor}}

<div class="titlebar-inner text-center bg-center bg-cover" style="background: url({{asset "img/bgfull.png"}})">
				<div class="container titlebar-container">
					<div class="row titlebar-container">
						<div class="titlebar-col col-md-12 text-white">
							<h1 data-fittext="true" data-fittext-options='{ "maxFontSize": 60, "minFontSize": 32 }'>A Very Opinionated Marketing Blog</h1>
							<a class="titlebar-scroll-link" href="#content" data-localscroll="true"><i class="fa fa-angle-down"></i></a>
						</div><!-- /.titlebar-col -->
					</div><!-- /.titlebar-row -->
				</div><!-- /.titlebar-container -->
			</div><!-- /.titlebar-inner -->

		</div><!-- /.titlebar -->

		<main id="content " class="content bg-dark">

<div id="main">
    <div class="container">
        
        {{! Post Loop - Go to partials/postLoop.hbs to view this partial. }}
        {{> "postLoop"}}
    </div>
</div>

{{! Pagination - Go to partials/pagination.hbs to view this partial. }}
{{pagination}}

        </main>

