{{!< default}}
{{#contentFor "page-styles"}}
    <link rel="stylesheet" href="{{@site.url}}/assets/built/style.css" />
    <link rel="stylesheet" href="{{@site.url}}/assets/built/extra.css" />
    <link rel="stylesheet" href="{{@site.url}}/assets/built/extra-post.css" />

{{/contentFor}}
]

{{#contentFor "post-scripts"}}
    <script src="{{asset "built/js/extra-post.js"}}"></script>
    <script src="{{asset "built/js/main.js"}}"></script>

    <script src="{{asset "built/js/extra-post.js"}}"></script>
    <script>
        $(document).ready(function() {
            $("article").fitVids();
            $( "table" ).wrap("<div class='table-responsive'></div>");
            $(".kg-gallery-image > img").wrap("<a data-gallery='collection-gallery' data-toggle='lightbox' class='lb-item' href=''></a>");
            $(".lb-item").each(function(e, t) {
               $(this).attr("href", $(this).children("img").attr("src"))
            });
            $(document).on("click", '[data-toggle="lightbox"]', function(e) {
               e.preventDefault(), $(this).ekkoLightbox()
            });
            document.querySelectorAll(".kg-gallery-image img").forEach(function(e) {
               var t = e.closest(".kg-gallery-image"),
                   a = e.attributes.width.value / e.attributes.height.value;
               t.style.flex = a + " 1 0%"
            })
       });
   </script>
{{/contentFor}}

<div class="titlebar-inner">
				<div class="container titlebar-container">
					<div class="row titlebar-container">
						<div class="titlebar-col col-md-12">
							<h1 data-fittext="true" data-fittext-options='{ "maxFontSize": 80, "minFontSize": 32 }'>with Sidebar</h1>
							<a class="titlebar-scroll-link" href="#content" data-localscroll="true"><i class="fa fa-angle-down"></i></a>
						</div><!-- /.titlebar-col -->
					</div><!-- /.titlebar-row -->
				</div><!-- /.titlebar-container -->
			</div><!-- /.titlebar-inner -->

		</div><!-- /.titlebar -->

		<main id="content " class="content bg-dark">

{{> "particles"}}
			<div class="container" >
				<div class="row">

					<div class="col-md-8">

						<div class="liquid-blog-posts">
							<div class="liquid-blog-grid liquid-blog-style-classic row">
 {{#get "posts" filter="featured:false" limit="6" include="tags"}}
                 {{#foreach posts}}
								{{> "layout/post-card" }}
{{/foreach}}
{{pagination}}

							</div><!-- /.liquid-blog-grid liquid-blog-style-classic row -->
						</div><!-- /.liquid-blog-posts -->

					</div><!-- /.col-md-8 -->

				{{> "layout/sidebar"}}
{{pagination}}
      {{/get}}
				</div><!-- /.row -->
			</div><!-- /.container -->
        </main>






{{#contentFor "post-scripts"}}
    <script src="{{asset "built/js/extra-post.js"}}"></script>
    <script>
        $(document).ready(function() {
            $("article").fitVids();
            $( "table" ).wrap("<div class='table-responsive'></div>");
            $(".kg-gallery-image > img").wrap("<a data-gallery='collection-gallery' data-toggle='lightbox' class='lb-item' href=''></a>");
            $(".lb-item").each(function(e, t) {
               $(this).attr("href", $(this).children("img").attr("src"))
            });
            $(document).on("click", '[data-toggle="lightbox"]', function(e) {
               e.preventDefault(), $(this).ekkoLightbox()
            });
            document.querySelectorAll(".kg-gallery-image img").forEach(function(e) {
               var t = e.closest(".kg-gallery-image"),
                   a = e.attributes.width.value / e.attributes.height.value;
               t.style.flex = a + " 1 0%"
            })
       });
   </script>
{{/contentFor}}
