{{!< default}}
{{#contentFor "page-styles"}}

    <link href="{{asset "built/css/extra-post.css"}}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="{{asset "css/themes/freelancer.css"}}" />
	<link rel="stylesheet" href="{{@site.url}}/assets/css/theme-vendors.min.css" />
 <link rel="stylesheet" href="{{@site.url}}/assets/css/theme.css" />

{{/contentFor}}
{{#contentFor "page-scripts"}}
		   <script src="{{asset "js/theme-vendors.js"}}"></script>
   <script src="{{asset "js/theme.min.js"}}"></script>
{{/contentFor}}
{{#contentFor "body-parts"}}
lqd-stack-buttons-style-2 header-style-fullscreen bg-dark
{{/contentFor}}

{{! The tag above means: Insert everything in this file into the {body} of the default.hbs template. }}

{{#post}}



		<main id="content" class="content py-0">

		

			<article class="blog-single bg-dark scheme-dark liquid-blog-scheme-dark">
				{{> "particles"}}
				<div class="container">

					<div class="row">

						<div class="col-md-8 col-md-offset-2">

							<div class="blog-single-content entry-content pull-up expanded">

								{{{content}}}
					<!-- /.blog-single-content entry-content -->
                    </div>
                    </div></div></div></article></div>							
{{#contentFor "post-scripts"}}
    <script src="{{asset "built/js/extra-post.js"}}"></script>
    <script>
        $(document).ready(function() {
            $("article").fitVids();
            $( "table" ).wrap("<div class='table-responsive'></div>");
            $(".kg-gallery-image > img").wrap("<a data-gallery='collection-gallery' data-toggle='lightbox' class='lb-item' href=''></a>");
            $(".lb-item").each(function(e, t) {
               $(this).attr("href", $(this).children("img").attr("src"))
            });
            $(document).on("click", '[data-toggle="lightbox"]', function(e) {
               e.preventDefault(), $(this).ekkoLightbox()
            });
            document.querySelectorAll(".kg-gallery-image img").forEach(function(e) {
               var t = e.closest(".kg-gallery-image"),
                   a = e.attributes.width.value / e.attributes.height.value;
               t.style.flex = a + " 1 0%"
            })
       });
   </script>
{{/contentFor}}
