{{!< default}}

{{! The tag above means: Insert everything in this file into the {body} of the default.hbs template. }}

{{#post}}

    <!-- POST INFO WRAPPER -->
    <div class="post-info-wrapper post-presentation active {{#if feature_image}}background{{else}}background-pattern{{/if}} lazy" {{#if feature_image}}data-src="{{feature_image}}"{{/if}}>
        <div class="gradient gradient1">
            <div class="container d-flex align-items-center">
                
                <div class="row">
                    <div class="col-sm-12 col-md col-lg col-xs-12">
                        {{#if @labs.members}}<span class="animated fadeInDown badge post-visibility post-{{visibility}}">{{visibility}}</span>{{/if}}
                        <h1 class="animated fadeInUp">{{title}}</h1>
                        <div class="post-tags animated fadeIn">
                            {{#foreach tags}}
                                <a href="{{url}}">{{name}}</a>
                            {{/foreach}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md col-lg col-xs-12 {{#if @labs.members}}spacing-{{visibility}}{{/if}}">
                        <p class="animated fadeInDown d-none d-sm-block">{{excerpt words="30"}}</p>
                    </div>
                </div>
            </div>

            <!-- AUTHOR INFO -->
            <div class="post-presentation author-wrapper container">
                <div class="d-flex justify-content-between align-items-center author-info">
                    <div class="multiple-authors animated fadeIn">
                        {{#has author="count:>1"}}
                            {{#foreach authors}}
                            <a href="{{url}}" class="vertical-align author-info no-name">
                                <div class="author-image background lazy {{^if profile_image}}author-image-fill{{/if}}" {{#if profile_image}}data-src="{{profile_image}}"{{/if}}></div>
                            </a>
                            {{/foreach}}
                        {{else}}
                            {{#foreach authors}}
                                <a href="{{url}}" class="vertical-align author-info">
                                    <div class="lazy author-image background {{^if profile_image}}author-image-fill{{/if}}" {{#if profile_image}}data-src="{{profile_image}}"{{/if}}></div>{{name}}
                                </a>
                            {{/foreach}}
                        {{/has}}
                    </div>
                    <p class="animated fadeIn"><i class="far fa-clock"></i>{{date published_at timeago="true"}}</p>
                </div>
            </div>
        </div>
    </div>

    {{! Latest Post - Go to partials/latestPost.hbs to view this partial. }}
    {{> "latestPost"}}

    <div id="main" class="container">
        {{#if @labs.members}}
            {{#if access}}
                {{> article }}
            {{else}}
                <div class="article-subscribe">
                    <div class="subscribe-content">
                        {{#if @member}}
                            <h2>{{t "This post is for paying subscribers only"}}</h2>
                        {{else}}
                            <h2>{{t "This post is for subscribers only"}}</h2>
                        {{/if}}
                        <p>{{t "You don't have access to this post at the moment, but if you upgrade your account you'll be able to see the whole post, as well as all the other posts in the archive! Subscribing only takes a few seconds and will give you immediate access."}}</p>
                        {{#if @member}}
                            {{> pricing-table }}
                        {{else}}
                            {{> subscribe-form }}
                        {{/if}}
                    </div>
                </div>
            {{/if}}
        {{else}}
            {{> article }}
        {{/if}}
    </div>

{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}

{{#contentFor "post-styles"}}
    <link href="{{asset "built/css/extra-post.css"}}" rel="stylesheet" type="text/css">
{{/contentFor}}

{{#contentFor "post-scripts"}}
    <script src="{{asset "built/js/extra-post.js"}}"></script>
    <script>
        $(document).ready(function() {
            $("article").fitVids();
            $( "table" ).wrap("<div class='table-responsive'></div>");
            $(".kg-gallery-image > img").wrap("<a data-gallery='collection-gallery' data-toggle='lightbox' class='lb-item' href=''></a>");
            $(".lb-item").each(function(e, t) {
               $(this).attr("href", $(this).children("img").attr("src"))
            });
            $(document).on("click", '[data-toggle="lightbox"]', function(e) {
               e.preventDefault(), $(this).ekkoLightbox()
            });
            document.querySelectorAll(".kg-gallery-image img").forEach(function(e) {
               var t = e.closest(".kg-gallery-image"),
                   a = e.attributes.width.value / e.attributes.height.value;
               t.style.flex = a + " 1 0%"
            })
       });
   </script>
{{/contentFor}}
