{{!< default}}
{{#contentFor "page-styles"}}
	<link rel="stylesheet" href="{{asset "css/theme-vendors.min.css"}}" />
		<link rel="stylesheet" href="{{asset "css/themes/original.css"}}" />

 <link rel="stylesheet" href="{{asset "css/theme.css"}}" />
{{/contentFor}}
{{#contentFor "page-scripts"}}
<script src="{{asset "js/theme-vendors.js"}}"></script>
   <script src="{{asset "js/theme.min.js"}}"></script>
{{/contentFor}}


{{! The tag above means: Insert everything in this file into the {body} of the default.hbs template. }}

{{#post}}



		<main id="content" class="content py-0">

			<div class="blog-single-cover scheme-light" data-fullheight="false" data-inview="true" data-inview-options='{ "onImagesLoaded": true }'">

				<figure class="blog-single-media" data-responsive-bg="true" data-parallax="true" data-parallax-options='{ "parallaxBG": true, "triggerHook": "onLeave" }' data-parallax-from='{ "translateY": "0%" }' data-parallax-to='{ "translateY": "20%" }'>
					{{#if feature_image}}<img src="{{feature_image}}" alt="{{title}}">{{else}}<img src="{{asset "img/bgfull.png"}}" alt="{{title}}">{{/if}}
				</figure>

				<div class="blog-single-details">

					<div class="container">
						<div class="row">
							<div class="col-md-12">

								<header class="entry-header blog-single-header" data-parallax="true" data-parallax-to='{ "opacity": 0, "translateY": "30%" }' data-parallax-options='{ "triggerHook": "0.3" }'>
									<h1 class="blog-single-title entry-title text-center h1" data-split-text="false" data-split-options='{ "type": "lines" }'>{{title}}</h1>
												

								</header><!-- /.blog-single-header -->

							</div><!-- /.col-md-6 -->
						</div><!-- /.row -->
					</div><!-- /.container -->

				</div><!-- /.blog-single-details -->

			</div><!-- /.blog-single-cover -->

			<article class="mt-6 mb-6 blog-single bg-dark scheme-dark liquid-blog-scheme-dark">
				<div class="container">


							<div class="blog-single-content entry-content pull-up expanded">

								{{{content}}}
					<!-- /.blog-single-content entry-content -->
					

						
						</div>
							



				</div><!-- /.comments-area -->


			</article><!-- /.blog-single -->

		</main><!-- /#content.content -->





{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}


{{#contentFor "post-scripts"}}
   
{{/contentFor}}
