{{!< default}}
{{#contentFor "page-styles"}}
       <link href="{{asset "built/css/extra.css"}}" rel="stylesheet" type="text/css">
        <link href="{{asset "built/css/style.css"}}" rel="stylesheet" type="text/css">

{{/contentFor}}
{{#contentFor "page-scripts"}}
		   <script src="{{asset "js/theme-vendors.js"}}"></script>
   <script src="{{asset "js/theme.min.js"}}"></script>
{{/contentFor}}

{{#contentFor "post-scripts"}}

    <script>
        $(document).ready(function() {
            $("article").fitVids();
            $( "table" ).wrap("<div class='table-responsive'></div>");
            $(".kg-gallery-image > img").wrap("<a data-gallery='collection-gallery' data-toggle='lightbox' class='lb-item' href=''></a>");
            $(".lb-item").each(function(e, t) {
               $(this).attr("href", $(this).children("img").attr("src"))
            });
            $(document).on("click", '[data-toggle="lightbox"]', function(e) {
               e.preventDefault(), $(this).ekkoLightbox()
            });
            document.querySelectorAll(".kg-gallery-image img").forEach(function(e) {
               var t = e.closest(".kg-gallery-image"),
                   a = e.attributes.width.value / e.attributes.height.value;
               t.style.flex = a + " 1 0%"
            })
       });
   </script>


     <script>
            var ghosthunter_key = "";
            var maxPages = parseInt('{{pagination.pages}}');
            var endMessage = '{{t "No more posts"}}';
            var Message = '{{t "More posts"}}';
        </script>

      



{{/contentFor}}

<div class="titlebar-inner text-center bg-center bg-cover" style="background: url({{asset "img/bgfull.png"}})">
				<div class="container titlebar-container">
					<div class="row titlebar-container">
						<div class="titlebar-col col-md-12 text-white">
							<h1 data-fittext="true" data-fittext-options='{ "maxFontSize": 60, "minFontSize": 32 }'>A Very Opinionated Marketing Blog</h1>
							<a class="titlebar-scroll-link" href="#content" data-localscroll="true"><i class="fa fa-angle-down"></i></a>
						</div><!-- /.titlebar-col -->
					</div><!-- /.titlebar-row -->
				</div><!-- /.titlebar-container -->
			</div><!-- /.titlebar-inner -->

		</div><!-- /.titlebar -->

		<main id="content " class="content bg-dark">

<div id="main">
    <div class="container">
        {{! Post Loop - Go to partials/postLoop.hbs to view this partial. }}
        {{> "postLoop"}}
    </div>
</div>

{{! Pagination - Go to partials/pagination.hbs to view this partial. }}
{{pagination}}

        </main>

