<!DOCTYPE HTML>
<html lang="en_US">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:locale" content="en_US" />
  <!DOCTYPE html>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#7254c9">
    <title>{{meta_title}} </title>
    <meta name="HandheldFriendly" content="True" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{> fbpixel}}
    {{> quora}}
    {{> google-analytics}}
    {{!> hotjar}}
	
			
	<link rel="stylesheet" href="{{@site.url}}/assets/vendors/liquid-icon/liquid-icon.min.css" />
	<link rel="stylesheet" href="{{@site.url}}/assets/css/theme-vendors.min.css" />
	<link rel="stylesheet" href="{{@site.url}}/assets/css/theme.css" />
  {{{block "page-styles"}}}
	<link rel="stylesheet" href="{{@site.url}}/assets/css/themes/original.css" />
	
	<!-- Head Libs -->
	<script src="http://localhost:2888/assets/vendors/modernizr.min.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <link rel="alternate" type="application/rss+xml" href="{{@site.url}}/feed.xml">

	
		<!-- Head Libs -->
		<script async src="{{@site.url}}/assets/vendors/modernizr.min.js"></script>
 	{{> "vendor/fbpixel"}}
        {{!> "vendor/quora"}}
    {{> "vendor/google-analytics"}}
    {{!> "vendor/hotjar"}}
    {{ghost_head}}
    <script src="https://kit.fontawesome.com/dd47f1ac1c.js" crossorigin="anonymous"></script>
</head>

<body class="{{{block "bodyparts"}}}" data-mobile-nav-trigger-alignment="left" data-mobile-nav-align="left" data-mobile-nav-style="modern" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">
    <div id="wrap">     
   {{!-- Everything else gets inserted here --}}
    {{{body}}}

   {{> "layout/footer"}}


    </div> {{!--end of wrap --}}

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
{{> hubspot}}
{{{block "post-scripts"}}}    {{!-- The main JavaScript file for Phantom --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
		<!--<script src="{{asset "ave/vendors/jquery.min.js"}}"></script>-->
		<script src="{{asset "ave/js/theme-vendors.js"}}"></script>
		<script src="{{asset "ave/js/theme.min.js"}}"></script>


</body>
</html>



   