{{!< default}}

{{!-- The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. --}}

 {{!-- Top Toggle Menu --}}
    <div class="top-toggle-menu">
        <div id="menu-toggle">
              <div class="one"></div>
              <div class="two"></div>
              <div class="three"></div>
        </div>
    {{navigation}}
    </div>

{{!-- The big featured header on the homepage, with the site logo and description --}}
<header id="site-head" {{#if @blog.cover_image}}style="background-image: url({{@blog.cover_image}})"{{/if}}> 
        <div id="top" class="vertical">
        <div id="site-head-content" class="inner">
            {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>


        <!-- Header Social Icons --> 
            {{!-- The tag below includes header social menu - partials/header-social.hbs --}}
            {{> "header-social"}}
        <!-- Header Social Icons -->

            <a class='btn first'>Explore the Blog <span><i class="fa fa-caret-down"></i></span></a>
            
        </div>
    </div>

</header>

{{!-- The main content area on the homepage --}}
<main class="content" role="main">

    <div class='fixed-nav'>
    	{{#if @blog.logo}}<a class="blog-logo-left" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Logo" /></a>{{/if}}
<hr>

<!-- Footer Social Icons --> 
    {{!-- The tag below includes footer social menu - partials/footer-social.hbs --}}
    {{> "footer-social"}}
<!-- Footer Social Icons -->

    </div>

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>